* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.secao-topo {
  background-image: url("assets/img-fundo.jpg");
  height: 24vh;
  background-size: cover;
}

.secao-descricao {
}
.secao-descricao-f h2 {
  font-weight: normal;
  font-size: 35px;
}
.secao-descricao-f {
  text-align: center;
  font-size: 18px;
  line-height: 70px;
  margin-top: 50px;
  margin-bottom: 45px;
}

.quartos {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.quartos-f img {
  width: 25%;
  height: 100%;
  margin: 0 1px;
}

.lista-descricao {
  width: 1050px;
  margin: 0 auto;
}
.lista-descricao h3 {
  width: 100%;
}

.lista-descricao-f {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  margin-left: 80px;
}

.lista-descricao-f li {
  width: 25%;
  text-align: left;
  line-height: 25px;
  font-size: 17px;
}

.sim {
  margin-top: 20px;

  width: 100%;
  text-align: center;
  font-size: 19px;
}
